.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}
.checkoutProduct__ad {
    width: 100%;
    margin-bottom: 10px;

}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
    color: white;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    
    height: 180px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__infobutton {
    background-color: #b91717;
    border: 1px solid black;
    width: 80px;
    color: white;
    margin-top: 10px;

}